.chat-main
  .group-info
    .group-show
      .group-show__name
        test
      .group-show__menmber
        Member : masa
    .edit-box
      = link_to "#", class: "edit-link" do
        Edit

  .message-list
    .message-box
      .message-box__name
        masa
        %span.day
          2019/11/20(Wed) 17:43:01
      .message-box__comment
        おはよう！
    .message-box
      .message-box__name
        masa
        %span.day
          2019/11/20(Wed) 17:43:01
      .message-box__comment
        こんばんは！

  .message-form
    %form.new-message
      .input-box
        %input.input-box__text{:name => "text", :placeholder => "type a message", :type => "text", :value => ""}
        %label.input-box__image
          = icon('far', 'image' )
          %input.input-box__image__file{:type => "file", :name => "message[image]", :id => "message_image"}
      %input.submit-btn{:type => "submit", :value => "Send", :data-disable-with => "Send"}